@media(min-width:576px){
    
/* body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:green;

} */
/* header{
    display: flex;
    text-align:justify;
    justify-content: space-around;
    background-color:transparent;
       
} */
header .logo {
    margin:10px 0px 0px 0px ;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header .logo h1{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid red; */

}

/* header .logo h1 span{
   color: #f7783c;
   font-size: 22px;
   
} */
 .menu ul{
    display: flex;
    list-style: none;
    /* border: 2px solid red; */
    margin-top:24px ;
    justify-content: space-between;
}

.menu ul li{
    /* text-decoration: none; */
    margin-top: 10px;
    height: 26px;

}

.menu ul li a{ 
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
}

.menu ul li i{ 
    text-decoration: none;
    padding: 1px 20px;
    font-size: 13px
}

/* section1  */
section {
    background-color: yellow;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.main .text{
    width: 40%;
}
.main .text h1{
    font-size: 35px;
     }

.main .text h2{
    font-size: 27px;
}
.main .text p{
    font-size: 14px;
    /* margin: 10px 50px 10px 0px; */
    text-align: justify
   
}
.main .text button{
    font-size: 14px;
    /* margin: 10px 50px 10px 0px; */
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
    
   
}
.main .text button:hover{
    background-color: green;
}


.main .img{
    /* width:40% */
}
.img .disc{
    width: 250px;
    /* animation: disc duration timing-function delay iteration-count direction fill-mode; */
    animation: example 5s linear infinite ;

}


}